<div class="container">
    <h3>Banner</h3>
    <div class="row mt-4">
        <div class="col-md-3 mb-4" *ngFor="let banner of banners$; index as i;">
            <div class="card text-start">
                <div class="card-body">
                    <mat-icon class="mt-2 float-end pointer delete-icon" (click)="handleDeleteBanner(banner);">delete</mat-icon>
                    <h4>{{banner?.title}}</h4>
                    <p>{{banner?.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>