.app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: auto !important;
}

.content {
    max-width: 100%;
    // display: flex;
    // flex-direction: column;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto !important;
    padding-bottom: 0;
}